In [34]:
import json
import pandas as pd

data ='''[
   {
   	"user": {
       	"id": 1,
       	"name": "agus",
       	"email": "agus@example.com"
   	},
   	"txs": [
       	{
           	"id": 1,
           	"tx_date": "2020-01-01",
           	"tx_amount": 10,
           	"tx_type": "buy"
       	},
       	{
           	"id": 3,
           	"tx_date": "2020-02-01",
           	"tx_amount": 10,
           	"tx_type": "buy"
       	},
       	{
           	"id": 5,
           	"tx_date": "2020-03-01",
           	"tx_amount": 20,
           	"tx_type": "sell"
       	}
   	]
   },
   {
   	"user": {
       	"id": 2,
       	"name": "asep",
       	"email": "asep@example.com"
   	},
   	"txs": [
       	{
           	"id": 2,
           	"tx_date": "2020-01-01",
           	"tx_amount": 10,
           	"tx_type": "sell"
       	},
       	{
           	"id": 4,
           	"tx_date": "2020-02-01",
           	"tx_amount": 10,
           	"tx_type": "sell"
       	},
       	{
           	"id": 6,
           	"tx_date": "2020-03-01",
           	"tx_amount": 20,
           	"tx_type": "buy"
       	}
   	]
   }
]'''


jsondata = json.loads(data)

#CSV_1
user_id = []
tx_id = []
for x in jsondata:
    for y in x['txs']:
        user_id.append(x['user']['id'])
        tx_id.append(y['id'])
table1 =  zip(usr_id, tx_id)
CSV_1 = pd.DataFrame(data=table1,columns=['user_id','txs_id'])
CSV_1

   user_id  txs_id
0        1       1
1        1       3
2        1       5
3        2       2
4        2       4
5        2       6

In [36]:
#CSV_2
user=[]
for x in jsondata :
	user.append(x['user'])

CSV_2= pd.DataFrame(data=user)
CSV_2

   id  name             email
0   1  agus  agus@example.com
1   2  asep  asep@example.com

In [38]:
#CSV_3
transfer=[]
for x in jsondata :
	transfer.append(x['txs'])

CSV_3= pd.DataFrame(data=transfer)
CSV_3

,0,1,2
0,"{'id': 1, 'tx_date': '2020-01-01', 'tx_amount'...","{'id': 3, 'tx_date': '2020-02-01', 'tx_amount'...","{'id': 5, 'tx_date': '2020-03-01', 'tx_amount'..."
1,"{'id': 2, 'tx_date': '2020-01-01', 'tx_amount'...","{'id': 4, 'tx_date': '2020-02-01', 'tx_amount'...","{'id': 6, 'tx_date': '2020-03-01', 'tx_amount'..."