In [1]:
import sqlite3
con=sqlite3.connect('mydatabase_2.db')

In [2]:
cursorObj= con.cursor()
cursorObj.execute("CREATE TABLE IF NOT EXISTS transactions(date DATE, sales FLOAT)")
con.commit()

In [3]:
data=[('2021-01-01',100),
      ('2021-01-02',34),
      ('2021-01-02',123),
      ('2021-01-02',134),
      ('2021-01-03',145),
      ('2021-01-03',24),
      ('2021-01-04',541),
      ('2021-01-04',636),
      ('2021-01-05',322),
      ('2021-01-06',242),
      ('2021-01-07',22),
      ('2021-01-08',46)]

cursorObj.executemany("INSERT INTO transactions(date,sales) VALUES(?,?)",data)

In [4]:
def sql_fetch(con):

    cursorObj = con.cursor()

    cursorObj.execute('SELECT date, sum(sales) FROM transactions GROUP BY date')

    rows = cursorObj.fetchall()

    for row in rows:

        print(row)

sql_fetch(con)

con.close()

('2021-01-01', 100.0)
('2021-01-02', 291.0)
('2021-01-03', 169.0)
('2021-01-04', 1177.0)
('2021-01-05', 322.0)
('2021-01-06', 242.0)
('2021-01-07', 22.0)
('2021-01-08', 46.0)