In [1]:
import sqlite3
con=sqlite3.connect('mydatabase.db')

In [2]:
cursorObj= con.cursor()
cursorObj.execute("CREATE TABLE IF NOT EXISTS transactions(trx_id INTEGER, insert_time TIMESTAMP, tx_amount FLOAT, tx_type STRING, status STRING)")
con.commit()

In [6]:
data=[(14,'2008-01-01 00:00:01',33,'buy','open'),
      (15,'2008-01-01 00:00:02',52,'sell','open'),
      (16,'2008-01-01 00:00:03',77,'buy','open'),
      (15,'2008-01-01 00:00:04',52,'sell','close'),
      (14,'2008-01-01 00:00:05',33,'buy','close')]

cursorObj.executemany("INSERT INTO transactions(trx_id, insert_time, tx_amount, tx_type, status) VALUES(?,?,?,?,?)",data)

In [10]:
def sql_fetch(con):

    cursorObj = con.cursor()

    cursorObj.execute('SELECT trx_id, max(insert_time), status FROM transactions GROUP BY trx_id')

    rows = cursorObj.fetchall()

    for row in rows:

        print(row)

sql_fetch(con)

con.close()

(14, '2008-01-01 00:00:05', 'close')
(15, '2008-01-01 00:00:04', 'close')
(16, '2008-01-01 00:00:03', 'open')